@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px; 
}



.logo img{
    width: 80px;
    height: auto;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 50px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
    padding-top: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 100px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }


  
#menu-icon{
    font-size: 35px;
    color: black;
    z-index: 10001;
    cursor: pointer;
}
section{
    padding: 5% 10%;
}
.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(img/kutya4.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.main-text h5{
    color: black;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}
.main-text h1{
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.main-text p{
    color: cadetblue;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.main-btn{
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid black;
    padding: 12px 25px;
    transition: all .42s ease;
}
.main-btn:hover{
    background-color: black;
    color: white;
}
.main-btn i{
    vertical-align: middle;
}
.down-arrow{
    position: absolute;
    top: 85%;
    right: 11%;
}
.down i{
    font-size: 30px;
    color: black;
    border: 2px solid darkgray;
    border-radius: 50px;
    padding: 12px 12px;
}
.down i:hover{
    background-color: black;
    color: white;
    transition: all .42s ease;
}



.center-text h2{
    color: black;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}
.center-text span{
    color: black;
}
.kutyak{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
    justify-items: center;
}
.row{
    background-color: transparent;
    width: 280px;
    height: 280px;
    perspective: 1000px;
    display: inline-block;
    margin: 0px;
    margin-bottom: 75px;
}
  
.row-inner {
    position: relative;
    width: 100%;
    height: 127.3%;
    transition: 0.6s;
    text-align: center;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}
  
.row:hover .row-inner {
    transform: rotateY(180deg);
}
  
.row-front, .row-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 5px;
}
  
.row-front {
    background-color: white;
    color: black;
}
  
.row-back {
    background-color: darkgray;
    color: white;
    transform: rotateY(180deg);
}
.row img{
    width: 100%;
    height: auto;
    transition: all .40s;
}
.row-back h1{
    color: black;
    text-transform: capitalize;
    font-weight: 500;
    text-decoration: underline;
}




@media(max-width:630px){
    .main-text h1{
        font-size: 50px;
        transition: .4s;
    }
    .main-text p{
        font-size: 18px;
        transition: .4s;
    }
    .main-btn{
        padding: 10px 20px;
        transition: .4s;
    }
    .row {
        height: auto;
    }
    .row-inner {
        height: auto;
    }
}

.container {
    max-width: 1170px;
    margin: auto;
}

.nemtudom {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 24px; 
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 19px; 
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}



@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

.home{
    width: 100%;
    height: 100vh;
    background-image: url(img/hamar.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.gomb {
    background-color: black;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    max-width: none;
    height: 57px;
    min-width: 120px;
    outline: none;
    overflow: hidden;
    padding: 0px 20px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    margin: 5px 50px 0px;
  }

  .image-container {
    text-align: center;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 0; 
    margin-left: auto; 
    margin-right: auto;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: #dc3545;
    margin-top: 5px;
}
.container{
    margin-top: 20px;
}

#szoveg {
    width: 800px;
    height: 50px;
}


@media (max-width: 800px) {
    #szoveg {
        width: 100%;
        height: auto; 
    }
}

.responsive-map-container {
    position: relative;
    overflow: hidden;
    padding-top: 0.25%;
}




